*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*
display: flex  to items can be flexible
align-items: center, put items to center on column
justify-content: center, put items to center on row
*/
.container{
    width: 100%;
    height: 100vh;
    background: #4682B4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color:#808080;
    padding: 20px;
    border-radius: 10px;
}
/*
border: 0; và outline: 0;: Loại bỏ đường viền và đường viền ngoại tuyến (outline) của phần tử.

width: 60px; và height: 60px;: Đặt chiều rộng và chiều cao của phần tử là 60 pixel.

border-radius: 10px;: Làm tròn góc của phần tử với bán kính 10 pixel, tạo ra góc bo tròn.

box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);: Tạo hiệu ứng đổ bóng cho phần tử, với hai lớp đổ bóng: một lớp trắng (được thêm vào bởi màu trắng rgba(255, 255, 255, 0.1)) và một lớp đen (được thêm vào bởi màu đen rgba(0, 0, 0, 0.2)).

background: transparent;: Đặt màu nền của phần tử là trong suốt (transparent).

font-size: 20px; và color: #fff;: Đặt kích thước chữ và màu chữ của nội dung trong phần tử.

cursor: pointer;: Đặt con trỏ chuột thành hình mũi tên khi di chuyển qua phần tử, để biểu thị rằng phần tử có thể tương tác.

margin: 10px;: Đặt khoảng cách (margin) ở cả bốn phía của phần tử là 10 pixel, tạo ra không gian xung quanh phần tử.
*/
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px ;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 140px;
}